<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ZHOO Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
		<link rel="shortcut icon" href="../../../public/assets/Favicon/favicon-32x32.png" type="image/x-icon">
		<style>
		/*custome scroll bar*/
		::-webkit-scrollbar {
			width: 8px;
		}

		::-webkit-scrollbar-track {
			background: rgb(18, 18, 18);
		}

		::-webkit-scrollbar-thumb {
			background-color: rgb(212, 212, 198);
			border-radius: 10px;
			border: 2px solidrgb(255, 255, 255);
		}
	</style>
</head>
<body class="overflow-x-hidden">

</body>
</html>
